:root {
  --black: #000;
  --white: #fff;
  --white50: #ffffff80;
  --greylight: #dddddd;
  --greymid: #aaaaaa;
  --black50: #00000080;
}

/* Reset styles */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h5 {
  font-size: 13px;
  line-height: 15px;
}

html {
  font-family: "Raleway", sans-serif;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.background {
  position: fixed;
  z-index: -99;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.ytplayer {
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

header {
  margin: 30px 0 28px 60px;
  /* height: 60px; */
}

#hour {
  display: inline-block;
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  width: 180px;
}

#seconds {
  font-size: 24px;
  font-weight: 500;
}

header .divider {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin-right: 30px;
  color: var(--white);
}

#date {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
}

main {
  margin: 0 0 30px 60px;
  width: 900px;
  float: left;
}

.weather {
  opacity: 0.5;
  transition: all 300ms ease-in-out;
}

.weather:hover {
  opacity: 1;
}

.widgets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.column {
  height: 450px;
}
.column#daily {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 15px;
}
.column#blogs {
  display: grid;
}

.container {
  background-color: var(--white50);
  border-radius: 10px;
  padding: 14px 10px 10px 20px;
  scroll-padding: 20px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.container:hover {
  background-color: var(--white);
}

.container h5 {
  margin-bottom: 7px;
  color: var(--black);
}

.text-area {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: var(--black);
}

.text-area li {
  margin-bottom: 10px;
}

#quote-of-the-day span {
  display: inline-block;
  width: 90%;
  font-weight: 700;
  font-size: 13px;
}

#on-this-day-in a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

.container.blog {
}

.blog-area {
}

.post {
  display: flex;
  /* grid-template-columns: 1fr 5fr; */
  align-items: center;
  height: 64px;
  margin-right: 15px;
  border-bottom: 1px solid var(--black50);
  text-decoration: none;
}

.post-img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  object-fit: cover;
  object-position: center;
}

.post-title,
.post-website {
  font-size: 13px;
  text-decoration: none;
  color: var(--black);
}

.post-title {
  line-height: 16px;
  font-weight: 500;
}

aside {
  float: left;
  margin-left: 30px;
  width: 435px;
  height: 315px;
}

#gear {
  position: absolute;
  margin: 20px 0 0 20px;
}

#gear:hover {
  cursor: pointer;
}

#gear span {
  font-size: 40px !important;
  color: var(--white);
  transition: all 300ms ease-in-out;
}

#gear span.dark {
  color: var(--black);
}

.container#settings {
  height: 285px;
  padding-top: 20px;
  transition: all 300ms ease-in-out;
}

.container#settings input:hover,
.container#settings label:hover,
#settings-brightness p {
  cursor: pointer;
}

.container#settings h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

#settings .scrollable {
  height: 80%;
}

#settings-brightness {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: fit-content;
  margin: 0 0 20px 70px;
}
#settings-brightness p {
  margin-right: 15px;
  color: var(--black);
}

/* #settings input[type="radio"] {
  display: none;
} */

#settings label {
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
  color: var(--black);
  font-size: 16px;
  margin: 8px 0;
  text-align: left;
  width: 80%;
}

#settings input[type="radio"]:checked + label {
  font-weight: 700;
}

#settings input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin: 0 10px 0 0;
  background-color: transparent;
  line-height: 1.5em;
}

#settings input[type="radio"]:checked {
  background-color: var(--black);
  color: var(--black);
}

.selected {
  font-weight: 700;
}

footer {
  clear: both;
}

.copyright {
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: right;
  color: var(--white);
  margin-right: 30px;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background-color: var(--white50); */
  background-color: #ffffff80;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
}

.container:hover .scrollable::-webkit-scrollbar-track {
  background-color: var(--greylight);
}

.container:hover .scrollable::-webkit-scrollbar-thumb {
  background-color: var(--greymid);
}
